

h1{
font-size: 55px;
flex:auto;
text-align: center;



}

h2{
    font-size: 30px;
}

p{
    font-size:14px;
}



.main{
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Miðjar lóðrétt */
    align-items: center; /* Miðjar lárétt */
    width: 100%;
   
}

.main p{
    max-width: 600px;
}

img{
  max-width: 600px;
  height: 300px px;
  margin-top:20px;
  border-radius: 12px;


}

/*min-height:100vh;
padding:0 0.5rem;
display:flex;
flex-direction:column;
justify-content: top;
height:100vh;
margin-bottom:100px;*/